

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	 .login-form {
		width: 340px;
    	margin: 50px auto;
	} 
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<div class="login-form">
    <form (ngSubmit)="Validate(username.value,password.value)" ngNativeValidate>

        <h2 class="text-center">Log in</h2>       
        <input class="form-control" type="text" ngModel name="username" placeholder="User Name" #username
        [required]="true"   /><br>
    <input class="form-control" required type="password" ngModel name="password" placeholder="Password" #password 
        [required]="true" /><br>
   
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
           
                <font color="red"><h5>{{err}}</h5></font>
                <!-- <font color="green"><h5>{{registerMsg}}</h5></font> -->
        </div>
              
    </form>
    
    <p class="text-center"><a routerLink='/registeruser'><h4>Create an Account</h4></a></p>
</div>

</html>                                		                            